%li.dd-item{data: {id: project.id}}
  .dd-item-inner
    - if project.live?
      .project-status.live
    - if project.draft?
      .project-status.draft
    - if project.scheduled?
      .project-status.scheduled
    = link_to spina.edit_admin_project_path(project), class: 'button button-link button-small sortable-link' do
      = project.title
    %span.pull-right
      = link_to spina.edit_admin_project_path(project), class: 'button button-small button-link dd-nodrag' do
        = icon('pencil-outline')
        = t('spina.edit')