- content_for(:permanent_notice) do
  - unless current_account.robots_allowed?
    .permanent-notice.permanent-notice-info
      = icon('search')
      %p
        =t 'spina.pages.invisible_to_search_engines'
        %small=t 'spina.pages.invisible_to_search_engines_description'

%header#header
  .breadcrumbs
    = render_breadcrumbs seperator: '<div class="divider"></div>'
    = link_to projects_path, target: :blank, class: 'button button-hollow button-small' do
      %i.icon.icon-export{style: 'margin: 0'}
      
  #header_actions
    %span
      = link_to spina.new_admin_project_path, class: 'button button-primary' do
        = icon('plus')
        New project

.well
  - if @projects.any?
    .dd#pages_list
      %ol.dd-list.sortable
        = render partial: 'project', collection: @projects
  - else
    %em No projects yet
