- content_for(:permanent_notice) do
  - unless current_account.robots_allowed?
    .permanent-notice.permanent-notice-info
      = icon('search')
      %p
        =t 'spina.pages.invisible_to_search_engines'
        %small=t 'spina.pages.invisible_to_search_engines_description'

%header#header
  .breadcrumbs
    = render_breadcrumbs seperator: '<div class="divider"></div>'
    = link_to projects_path, target: :blank, class: 'button button-hollow button-small' do
      %i.icon.icon-export{style: 'margin: 0'}

  #header_actions
    %span
      = link_to spina.new_admin_project_path, class: 'button button-primary' do
        = icon('plus')
        New project

.well
  - if @projects.any?
    .dd
      %ol.dd-list.sortable
        = render partial: 'project', collection: @projects
  - else
    %em No projects yet

:javascript
  var set_positions = function() {
    $(".project").each(function(i) {
      $(this).attr("data-pos", i + 1);
    });
  };

  var ready = function() {
    set_positions();
    $(".sortable").sortable();
    $(".sortable")
      .sortable()
      .bind("sortupdate", function() {
        var updated_order;
        updated_order = [];
        set_positions();
        $(".project").each(function(i) {
          updated_order.push({
            id: $(this).data("id"),
            position: i + 1
          });
        });
        $.ajax({
          type: "PUT",
          url: "/admin/projects/sort",
          data: {
            order: updated_order
          }
        });
      });
  };

  $(document).on("turbolinks:load", ready());

:scss
  .project {
    cursor: move;
  }

  .ui-sortable-placeholder {
    position: relative;
    visibility: visible !important;

    &::before {
      border: 1px dashed #ddd;
      box-sizing: border-box;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .project-status {
    height: 52px;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s;
    width: 7px;

    &.live {
      background-color: #3adb76;
      z-index: 1;
    }

    &.draft {
      background-color: #767676;
    }

    &.scheduled {
      background-color: #1779ba;
    }
  }

  .dd-item:hover {
    .project-status {
      opacity: 0.7;
      width: 9px;
    }
  }
